<div class="container">
    <div class="row" style="padding-top:20px; padding-bottom:20px">
        <div class="col-md-9">
            <h1>Moje {{title}}</h1>
        </div>
        <div class="col-md-3">
            <a href="/newEvent" class="btn btn-danger">Nowe Zdarzenie</a>
        </div>
    </div>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <h3>Koncert</h3>
        <p>Marek, Janusz, Artur</p>
        <p>W trakcie</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <h3>Wyjazd</h3>
        <p>Stefan, Roman, Grzegorz</p>
        <p>Zakonczone</p>
      </div>
    </div>    
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

