<div class="container">
    <div class="row" style="padding-top:20px; padding-bottom:20px">
        <div class="col-md-9">
            <h1>{{title}} dla events</h1>
        </div>
        <div class="col-md-3">
            <a href="/newExpense" class="btn btn-danger">Nowy wydatek</a>
        </div>
    </div>
    <form>
    <div id="formBody" class="form-group">
        <label for="selectEvent">Wybierz Zdarzenie</label>
        <select class="form-control" id="selectEvent"></select>
        <button type="submit" class="btn btn-primary">Zakończ</button>
    </div>

    <div id="cardContainer" class="container">
        
    </div>
</form>
</div>

<script src="expensesLogic.js"></script>