<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To DebtApp!</div>
        <div class="masthead-heading text-uppercase">Easy track of your money</div>        
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/loans">Check my loans</a>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/events">Check my events</a>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/reports">Reports</a>
        {{!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/expenses">Check my expenses</a> --}}
    </div>
</header>

