<div class="container">
    <div class="row" style="padding-top:20px; padding-bottom:20px">
        <div class="col-md-9">
            <h1>My {{title}}</h1>
        </div>
        <div class="col-md-3">
            <a href="/newLoan" class="btn btn-danger">Nowa Pożyczka</a>
        </div>
    </div>
</div>

<div class="container">
    <table id='loans-table' class="table table-stripped table-hover">
       <thead id="tableHead"></thead>
       <tbody id="tableBody"></tbody>
    </table>
</div>

<script src="loansLogic.js"></script>