<header class="masthead">
<form>
    <div class="form-group">
    <label for="buyer">Zdarzenie</label>
    <select class="form-control" id="buyer">
      <option>Wyjazd</option>
      <option>Koncert</option>
      <option>Ryby</option>
    </select>
  </div>
  <div class="form-group">
    <label for="expense">Wydatek</label>
    <input type="text" class="form-control" id="expense" placeholder="Nazwa wydatku">    
  </div>
  <div class="form-group">
    <label for="expenseAmount">Kwota</label>
    <input type="text" class="form-control" id="ExpenseAmount" placeholder="Kwota">    
  </div>
  <div class="form-group">
    <label for="buyer">Kto sponsoruje?</label>
    <select class="form-control" id="buyer">
      <option>Stefan</option>
      <option>Roman</option>
      <option>Zdzich</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Zakończ</button>
</form>
</header>