<form>
  <div class="form-group">
    <label for="debtor">Dłużnik</label>
    <input type="text" class="form-control" id="debtor" placeholder="Nazwa dłużnika">    
  </div>
  <div class="form-group">
    <label for="amount">Kwota</label>
    <input type="text" class="form-control" id="amount" placeholder="Kwota pożyczki">    
  </div>
   <div class="form-group">
    <label for="returnDate">Kwota</label>
    <input type="date" class="form-control" id="returnDate" placeholder="Data zwrotu">    
  </div>
  <button type="submit" class="btn btn-primary">Zakończ</button>
</form>