<div class="container">
    <div class="row" style="padding-top:20px; padding-bottom:20px">
        <div class="col-md-9">
            <h1>Moje {{title}}</h1>
        </div>
        <div class="col-md-3">
            <a class="btn btn-danger">Nowa Pożyczka</a>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-stripped table-hover">
        <tr>
            <th>Dłużnik</th>
            <th>Kwota</th>
            <th>Data Oddania</th>
            <th>Rozliczenie</th>
        </th>
        <tr>
            <td id="debtor">Heniek</td>
            <td id="amount">12.00</td>
            <td id="return-date">2020.12.10</td>
            <td><a class="btn btn-primary btn-sm">Rozlicz</button></td>
        </tr>
    </table>
</div>

