body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.big-button{
  border: 2px;
  border-radius: 5%;
  border-style: ridge;
  border-color: black;
  margin:10px;
  height: 100px;
  max-width: 250px;
  text-align: center;
}
