body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page-controls{
    margin-top: 20px;
}

.text-bold {
  font-size: 0,75rem;
  font-weight: 100;
  color: black;
}

.text-yellow{
  color:#fed136;
}



