body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.big-button{
  border: 2px;
  border-radius: 5%;
  border-style: ridge;
  border-color: black;
  margin:10px;
  height: 100px;
  max-width: 250px;
  text-align: center;
}

._table-row{
  margin:5px;  
}

.carousel{
  margin-top: 50px;
}
.carousel-inner{
  height: 200px;
}
.carousel-caption{
  color: rgb(0, 0, 0);
  top: 50%;
}

#demoFont {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 31px;
  letter-spacing: 1.6px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  }
